<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Album Left</title>
    <link rel="stylesheet" href="__CSS_FILE_PATH__" />
</head>

<body>
<div class="content-container">
    <div class="intro-container"  id="right-page-intro-container">
        <div class="intro-title">个人资料</div>
        <div class="gallery">
            <a>
                <img src="__INTRO_IMAGE_PATH__">
            </a>
        </div>
        <div class="intro-content">
            <table class="simple-table">
                <tr>
                    <td>姓名：</td>
                    <td>__PERSON_NAME__</td>
                </tr>
                <tr>
                    <td>学号：</td>
                    <td>__STUDENT_ID__</td>
                </tr>
                <tr>
                    <td>QQ 号：</td>
                    <td>__QQ__</td>
                </tr>
                <tr>
                    <td>微信号：</td>
                    <td>__WECHAT__</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="image-container" id="right-page-image-container">
        <div>
            <div class="responsive">
                <div class="gallery">
                    <a>
                        <img src="__CONTENT_IMAGE_A_PATH__">
                    </a>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <a>
                        <img src="__CONTENT_IMAGE_B_PATH__">
                    </a>
                </div>
            </div>
        </div>
        <div class="text-block">
            <p>
                __CONTENT_TEXT__
            </p>
        </div>
    </div>
</div>

</body>
</html>